# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Avoid intermediate representation files
*.ll

# System Files
.*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Desktop.ini

# Any databases
*.db

# Compiled Python files
*.pyc

# Application specific files
venv
node_modules
*.log

# Application specific folder structure
bin/
docs/
build/
cmake-build-*/
scripts/

# whitelist
!.gitignore
!.travis.yml
